alfaNET.MicroWeb.Sample/obj/
alfaNET.MicroWeb.Sample/bin/
alfaNET.MicroWeb.Server/bin/
alfaNET.MicroWeb.Server/obj/
alfaNET.MicroWeb.Abstractions/obj/
alfaNET.MicroWeb.Abstractions/bin/
alfaNET.MicroWeb.Mvc/obj/
